<?xml version="1.0" ?>
<suite name="mockmagican - tests" verbose="2">

  <test name="DSL and Integration Tests with JAVA">
    <classes>
      <class name="mockmagican.IntegrationTest_MockInterfaces" />
    </classes>
  </test>

  <test name="Unit tests for the internal API">
    <classes>
      <class name="mockmagican.MockWizardTest" />
      <class name="mockmagican.interfaces.MockWizardInterfaceInvocationHandlerTest" />
    </classes>
  </test>
</suite>